@media screen and (max-width: 900px) {
    
    .logo {
        display: none;
    }

    #navbar {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    #main-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        margin: 1rem;
    }
}

@media screen and (max-width: 500px) {
    .logo {
        display: none;
    }

    #navbar {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    #main-content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        margin: 1rem;
    }

}