/* Imports */
@import url("https://fonts.googleapis.com/css?family=Poiret+One&display=swap");

/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* Utility */
.btn {
  padding: 0.8rem 0;
  border: none;
  border-radius: 5px;
  outline: 0;
  text-transform: uppercase;
  font-size: 1.1rem;
  background: #16b2fa;
  color: #f4f4f4;
  font-weight: bold;
}

/* Navbar */
#navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  background: #f4f4f4;
  color: #444;
  text-transform: uppercase;
  font-size: 1.1rem;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}

#navbar h1 {
  font-family: "Poiret One", cursive;
}

/* Grid container */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin: 1rem;
  grid-gap: 10px;
}

.post-form {
  grid-column: 1;
  grid-row: 1/4;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.post-form label {
  font-weight: bold;
}

.post-form input {
  width: 100%;
  padding: 0.75rem;
  margin: 0.75rem 0;
  outline: 0;
}

.post-description {
  margin: 0.75rem 0;
  outline: 0;
}

.posts {
  grid-column: 2;
}

/* Posts section */
.posts-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.posts-area span {
  border-bottom: 1px dotted #444;
}

.posts-area h3 {
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.posts-area p {
  margin: 0.6rem;
}

.posts-area article {
  width: 100%;
  margin: 1.9rem 0 0rem 0;
  border: 1px solid #444;
}
