/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Utility */
.blue {
  background-color: #8cabde;
}

.light-gray {
  background-color: #bdbdbd;
}

.light-purple {
  background-color: #757ed1;
}

.bg-dark {
  background-color: #444;
  color: #f4f4f4;
}

.purple {
  background-color: #cab1f0;
  
}

/* Navbar */
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #1f68de;
  height: 10vh;
}

/* Section: grid-container1 */
.grid-container1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr ;
  grid-gap: 1rem;
  text-align: center;
  margin: 1rem;
}

.item {
  border: 1px solid #444;
  padding: 2rem;
  width: 100%;
}

/* Section: container2 */
.grid-container2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 1rem;
  text-align: center;
  margin: 1rem;
  justify-items: center;
  align-items: center;
} 

.item7 {
  padding: 10rem 1rem;
}

.item8 {
  padding: 10rem 1rem;
}

/* Section: cotainer3 */

.grid-container3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 1rem;
  text-align: center;
  margin: 1rem;
  justify-items: center;
  align-items: center;
} 







