@import url('https://fonts.googleapis.com/css?family=Boogaloo&display=swap');

/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

/* Utility */

.container{
  display: flex;
  justify-content: center;
  background-color: #B10DC9;
  padding: 20px;
  color: #f4f4f4;
  font-family: 'Boogaloo', cursive;
}

.content {
  text-transform: uppercase;
}

/* Navbar */

#navbar {
  text-align: center;
  display: flex;
  position: sticky;
  top:0;
  color: #444;
  justify-content: space-around;
  z-index: 1;
  padding: 0;
  margin: 0;
}

.header {
  margin: 0;
  padding: 0;
  background-color: #2ECC40;
  flex: 1;
}

.menu {
  margin: 0;
  padding: 0;
  background-color: #FFDC00;
  flex: 3;
}

/* Header */

#content1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 50vh;
  background-color: #F012BE;
}

/* Section: Content2 */

#content2 {
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.main {
  background-color: #0074D9;
  margin: 0;
  padding: 0;
  flex: 2;
  padding: 86px;
}

.white-bg {
  margin: 0;
  padding: 0;
  flex: 1;
}

.group {
  display: flex;
  flex-direction:  column;
  margin: 0;
  padding: 0;
  flex: 1;
}

.image {
  background-color: #FF4136;
  padding: 36px;
  margin: 0;
}

.extra {
  background-color: #01FF70;
  padding: 36px;
  margin: 0;
}