/* Imports */
@import url("https://fonts.googleapis.com/css?family=Bilbo&display=swap");

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 12vh;
  background: #fff;
  color: #363535;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}

.logo i {
  font-size: 1.6rem;
}
.logo span {
  padding-left: 0.5rem;
  margin-left: 1rem;
  border-left: 1px solid #444;
  font-family: "Bilbo", cursive;
  font-size: 2rem;
}

.search-input {
  border: 1px solid #d6d6d6;
  outline: 0;
  padding: 0.4rem;
  width: 17%;
  background: #f7f7f7;
  text-align: center;
  border-radius: 2px;
}

.buttons-list {
  display: flex;
  list-style: none;
  font-size: 1.5rem;
}

.buttons-list li {
  cursor: pointer;
  margin-left: 1.7rem;
}
